@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}        
body {
    overflow-x: hidden;
}
/* Header */
header{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
header .bg {
    position: absolute;
    width: 100vw;
    height: 250px;
    background: rgb(8, 151, 177);
    clip-path: polygon( 0 0,0 100% , 100% 50%, 100% 0);
    z-index: -1;
}
header img {
    padding-top: 20px;
    padding-left: 8vw;
    width: 90vw;
    height: auto;
}
/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
main h1{
    position: absolute;
    font-size: 2.7rem;
    color: white;
    transform: translate(0,-50px);
    text-shadow: 1px 1px 5px black,2px 2px 0 black;
    font-family: 'Playfair';
    font-size: 100;
}
h2 {
    font-family: 'Playfair Display';
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.8rem;
}
main p{
    width: 90vw;
}
main .links {
    padding-top: 15px;
    transform: scale(1.4);
}
main .links a{
    text-decoration: none;
    padding-left: 5px;
}
.work{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 60px;
    font-family: 'Playfair Display';
}

.work .cards .c{
    width: 90vw;
    border: 1px solid white;
    max-width: 280px;
    height: 280px;
    padding-left: 15px;
    background: crimson;
}
svg {
    transform: translate(15px)
}
img {
    width: 100%;
    height: 50%;
    transform: translate(-10px);
}
main .work a{
    text-decoration: none;
}
/*  Footer  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(13, 155, 186);
    color: white;
    font-weight: 100;
    padding: 0 15px;
}
footer .links {
    transform: scale(1.8);
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35vw;
    max-width: 100px;
}
footer h4 {
    width: 95%;
    padding-bottom: 10px;
}
footer p {
    width: 95%;
    padding-bottom: 10px;
    font-size: .85rem;
    
}
footer .links a {
    text-decoration: none;
    color: black;
} 
footer img {
    width: 100vw;
    height: 250px;
}