@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
}        
body {
    overflow-x: hidden;
}
/* Header */
header{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
header .bg {
    position: absolute;
    width: 100vw;
    height: 140vw;
    background: rgb(8, 151, 177);
    clip-path: polygon( 0 0,0 100% , 100% 50%, 100% 0);
    z-index: -1;
    max-height: 500px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.about {
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 7vw;
    padding-right: 25px;
}
.about img {
    padding-top: 60px;
    width: 90vw;
    max-width: 300px;
    height: auto;
}
main h1{
    position: relative;
    font-size: min(15vw,3.5rem);
    color: white;
    transform: translate(-10px,min(40vw,-90px));
    text-shadow: 1px 1px 5px black,2px 2px 0 black;
    font-family: 'Playfair';
    font-size: 100;
    width: 60vw;
    height: 30px;
    text-align: center;
    max-width: 300px;
}
h2 {
    font-family: 'Playfair Display';
    padding-bottom: 10px;
    font-size: 1.8rem;
}
main p{
    width: 90vw;
}
main .links {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    transform: scale(1.4);
}
main .links a{
    text-decoration: none;
    padding-left: 5px;
}
.work{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 60px;
    font-family: 'Playfair Display';
}
.work .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vw;
    width: 100vw;
    max-width: 1000px;
    flex-direction: row;
}
.work .cards .c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    max-width: 280px;
    padding: 10px 0 40px 20px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 15px 0 #3333;
}
.cards p {
    width: 50%;
}
.cards h4 {
    font-size: 1.2rem;
}
.card-heading{
    display: flex;
    justify-content: space-between;
    height : 40px;
    padding: 5px 25px;
}
.cards p {
    width: 100%;
}
svg {
    transform: scale(1.1) translate(0,5px);
}
img {
    width: 100%;
    height: 50%;
    transform: translate(-10px);
}
main .work a{
    text-decoration: none;
    transform: scale(1.2)translate(0,5px);
}
/*  Footer  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(13, 155, 186);
    color: white;
    font-weight: 100;
    padding: 0 15px;
}
footer .links {
    transform: scale(1.8);
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 135vw;
    max-width: 100px;
}
footer h4 {
    width: 95%;
    padding-bottom: 10px;
}
footer p {
    width: 95%;
    padding-bottom: 10px;
    font-size: .85rem;
    
}
footer .links a {
    text-decoration: none;
    color: black;
} 
footer img {
    transform:scale(1.1);
    width: 120vw;
    height: 300px;
}
/* Responsive tablet 350px wide */
@media screen and (min-width: 650px) {
    .about {
        transform: translate(30px,10vh);
        width: 80vw;
        padding: 20px;
        padding-top: 50px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        margin-top: 100px;
        background: white;
        box-shadow: 5px 5px 15px 0 #3335;
    }
    .about p {
        width: 100%;
        font-size: max(1.8vw,1.1rem);
    }
    .about h2 {
        transform: translate(130px);
        font-size: 2rem;
    }
    .about img {
        position: absolute;
        top: -130px;
        left: -15px;
        transform:scale(1.1);
        aspect-ratio: .7;
    }
    .about h1 {
        position: absolute;
        top: 10px;
        left: 215px;
    }
    main .links {
        display: none;
    }
    .float {
        width: 300px;
        aspect-ratio: 1.4;
        float: left;
    }
    footer {
        padding-top: 20px;
    }
    footer img {
        height: 250px;
    }
}

@media screen and (min-width: 1050px) {
    .about img {
        position: absolute;
        top: -50px;
        left: -15px;
        transform:scale(1.5);
        aspect-ratio: .7;
    }
    .about p{
        font-size: 1.2rem;
    }
    .float {
        width: 350px;
        height: 25vw;
    }
    .about h1 {
        top: 70vh;
        font-size: 4rem;
        left: 0;
    }
}